@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

/* Color Variables */
:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-1: hsl(207, 26%, 17%);
  --very-dark-blue-2: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* Semantic color variables for this project */
:root {
  /* Light Mode */
  --color-background: var(--very-light-gray);
  --color-text: var(--very-dark-blue-2);
  --color-elements: var(--white);
  --color-input: var(--dark-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode */
    /* --color-background: var(--very-dark-blue-1);
    --color-text: var(--white);
    --color-elements: var(--dark-blue);
    --color-input: var(--very-light-gray); */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 300;
  text-decoration: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
